@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

a.active hr{
    display: block;
}

a.active p{
    font-weight: bolder;
    color: black;
}

*{
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "airBorn86";
  src: url('./assets/Airborne86.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.logo{
    font-family: 'airBorn86' ;
    font-size: xx-large;
}